@{
    ViewData["Title"] = "Index";
}

<h1>Acabas de quedar atrapado en la mente de un hacker</h1>
<p>Tu misión sera escapar lo antes que puedas; sino resulves los acertijos, quedaras atrapado en su codigo por siempre </p>
<p>Solo las mentes programadoras seran capaces de escapar. ¿Estás listo para atravesar el desafío? </p>
<a href='@Url.Action("empezarJuego")'>
    <button class="btn btn-primary">Empezar juego</button>
</a>

