@{
    ViewData["Title"] = "Index";
}
<div>
    <h1>Acabas de quedar atrapado en la mente de un hacker</h1>
    <h2>Tu misión sera escapar lo antes que puedas; sino resulves los acertijos, quedaras atrapado en su código por siempre </h2>
    <h2>Solo las mentes programadoras seran capaces de escapar. ¿Estás listo para atravesar el desafío? </h2>
    <a href='@Url.Action("empezarJuego")'>
        <button class="btn btn-primary">Empezar juego</button>
    </a>
</div>

<script>
    document.getElementById("Fondo").style.backgroundImage = "url('../imagenes/fotoprincipal.png')";
</script>

