<h1>Solo te queda el ultimo paso...</h1>
<h2>Saca es poeta interior y resolve el siguiente acertijo</h2>
<h3> Siempre creí que nadie saldría.  </h3>
<h3> Ahora veo que alguien pudo.   </h3>
<h3> Lo hiciste.  </h3>
<h3> Inevitablemente. </h3>
<h3> Descubriste el patrón.   </h3>
<h3> Ahora tomá lo que es tuyo.   </h3>
<h3>Simplemente, leé lo esencial. </h3>

<form action='@Url.Action("pasarDeSala", "Home" )' method="POST">
        <input type = "text" name="clave">
        <input type = "submit" value = "Arriesgar">
    </form>