
<div>
    <h1></h1>
    <p></p>
    <form action='@Url.Action("pasarDeSala", "Home" )' method="POST">
        Adivinar clave:<input type = "text" name="clave">
        <input type = "submit" value = "pasarDeSala">
    </form>
    
</div>