<div>
<h1>Solo te queda el ultimo paso...</h1>
<h2>Saca  poeta interior y encontra la clave oculta</h2>



<p>Siempre creí que nadie saldría.</p>
<p>Ahora veo que alguien pudo.</p>
<p>Lo hiciste.</p>
<p>Inevitablemente.</p>
<p>Descubriste el patrón.</p>
<p>Ahora tomá lo que es tuyo.</p>
<p>Simplemente, leé lo esencial.</p>

<form class="ingresosala4" action='@Url.Action("pasarDeSala", "Home" )' method="POST">
        <input type = "text" name="clave">
        <input type = "submit" value = "Arriesgar">
</form>


    
</div>

     <script>
    
       window.onload = function () {
    const fondo = document.getElementById("Fondo");
    fondo.style.backgroundImage = "url('../imagenes/fondo4.png')";
    fondo.style.backgroundSize = "cover";
    fondo.style.backgroundPosition = "center";
    fondo.style.backgroundRepeat = "no-repeat";
    fondo.style.width = "100vw";
    fondo.style.height = "100vh";
    fondo.style.overflowX = "hidden"; // importante para evitar scroll lateral
    fondo.style.margin = "0";
    fondo.style.padding = "0";
  };
</script>