<div>
<h1>Lograste llegar a la segunda sala...</h1>
<p>No hay bits sin letras.</p>

   <form action='@Url.Action("pasarDeSala", "Home" )' method="POST">
        <input type = "text" name="clave">
        <input type = "submit" value = "Arriesgar">
    </form>
</div>
<script>
    document.getElementById("Fondo").style.backgroundImage = "url('../imagenes/INICIO.png')";
</script>