    
    <h1>Estás cada vez más cerca del final...</h1>
    <h2>Vas a necesitar tus dotes matemáticos para este nivel</h2>
    <h4>192.48.?.21=434</h4>
 <form action='@Url.Action("pasarDeSala", "Home" )' method="POST">
        <input type = "text" name="clave">
        <input type = "submit" value = "Arriesgar">
    </form>
    
    