<h1>Lograste llegar a la segunda sala...</h1>
<h2>La clave está escondida; es tu desafío como programador encontarla.</h2>
   <form action='@Url.Action("pasarDeSala", "Home" )' method="POST">
        Adivinar clave:<input type = "text" name="clave">
        <input type = "submit" value = "pasarDeSala">
    </form>
